@define-color foreground #eff0f1;
@define-color foreground-inactive #7f8c8d;
@define-color background #14161B;
@define-color background-alt #14161B;
/* @define-color background-alt #222222; */

* {
    font-family: Iosevka Nerd Font;
    font-size: 13px;
    padding: 0;
    margin: 0;
    border-radius: 0;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

#workspaces button {
    padding-left: 1em;
    padding-right: 1.3em;
}

#workspaces button.empty {
    color: @foreground-inactive;
}

#workspaces button.active {
    background-color: @background-alt;
    border-radius: 3px;
}

#wireplumber,
#bat,
#tray,
#usage,
#custom-cava-internal,
#custom-updates,
#custom-dexcom,
#net {
    background-color: @background-alt;
    border-radius: 0px;
    padding-left: 0.5em;
    margin-left: 0.3em;
}

#tray {
    margin-right: 7px;
    margin-left: -8px;
}

#wireplumber {
    margin-left: -2px;
}

#custom-updates {
    margin-right: -5px;
}

#battery,
#memory,
#language,
#network {
    margin-right: 0.8em;
}
